<html>
    <head>
        <meta charset="utf-8">
        <title>구매화면</title>
    </head>
    <body>
    <form action="orderok" method="post">
        <h2>상품정보</h2><A href="./">메인화면으로 이동</A>/<a href="/list">책 목록으로 가기</a>
        <p>도서번호:<input type='text' name="Book_No" value="<%=list.Book_No%>" readonly></p>
        <p>도서명:<input type='text' name="Book_Name" value="<%=list.Book_Name%>" readonly></p>
        <p>재고량:<input type='text' name="Book_Quantity" value="<%=list.Book_Quantity%>" readonly></p>
        <p>판매가:<input type='text' name="Book_Price" value="<%=list.Book_Price%>" readonly></p>
        <p>적립포인트:<input type='' name="Book_Point" value="<%=(list.Book_Price)*(list.EA)*(list.Book_Point)%>" readonly></p>
        <h2>결제</h2>
        <p>구매수량:<input type='number' name="Orderlist_quantity" value="<%= list.EA%>" readonly></p>
        <p>총액:<input type='number' name="Order_ordertotalprice" value="<%=(list.Book_Price)*(list.EA) %>" readonly></p>
        <p>신용카드종류:<input type='text' name="Card_cardkinds" placeholder="ex)xx은행"></p>
        <p>신용카드번호:<input type='text' name="Card_cardnumber" placeholder="카드번호 12자리 (- 제외 입력)"></p>
        <p>신용카드 유효기간:<input type='number' name="Card_term" placeholder="MM/YY (/ 제외 입력)"></p>
        <p>배송지기본주소:<input type='text' name="Adress_baseadress" placeholder="ex)부산광역시 부산진구 거제대로 37"></p>
        <p>배송지우편번호:<input type='text' name="Adress_post_number" placeholder="ex)47208"></p>
        <p>배송지상세주소:<input type='text' name="Adress_detailed_adress" placeholder="ex)~아파트 205동 1103호"></p>
        <input type='hidden' name="Member_No" value="Member_No"></p>
        <button type="submit">주문하기</button>
    </form>
        
      
    </body>
</html>